<html>
<head>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">
</head>
<body>
  <h1 class="well" style='margin: 0 auto; text-align: center'>
    Confirmation Required for the Deletion of a Booking
  </h1>
  <br>
  <form action='/booking/delete/<%= @booking.id %>' method='post'>
    <button type="submit" value="CONFIRM" class="btn btn-success btn-lg">CONFIRM</button>
  </form>
  <form action='/'>
    <button type="submit" name="cancel" value="Cancel" class="btn btn-danger btn-lg">CANCEL</button>
  </form>
</body>
</html>
