<!DOCTYPE HTML>
<html>
<head>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet"
</head>
<body style="padding-top: 60px">
<h1 style='margin: 0 auto; text-align: center'>
  Welcome to the BEST Beaches and Stream BnB listing!
</h1>
<br><br>
<table style='margin: 0 auto; text-align: center'>
  <tr>
    <td>
      <form action='/sign_up'>
        <input type='submit' value='Sign Up' id='sign_up' name='sign_up'>
      </form>
    </td>
    <td>
      <% if @user %>
        <form action='/' method='post' style='text-align: center'>
          <input type='submit' id='signed_in' value ='Signed in'> :
          <input type='text' name='signedin_user' placeholder='<%= @user.username %>'>
          <input type="text" id="sign_out" value="Sign Out">
        </form>
      <% else %>
        <form action='/' method='post' style="text-align: center">
          <input type='text' name='username' placeholder='User Name'>
          <input type="password" name="password" placeholder="Password">
          <input type='submit' value='Sign In' id='sign_in' name='sign_in'>
        </form>
      <% end %>
    </td>
  </tr>
</table>
<br>
<div style='height: 600px; overflow: scroll'>
<% @listings.each do |listing| %>
  <div style='padding: 2px'>
    <table style="width: 75%; margin: 0 auto; border-style: ridge;">
      <tr style="height: 75px">
        <td style="width: 100px; max-height: 75px; border-style: ridge; padding: 5px; margin: 3px">
        </td>
        <td style="padding: 5px">
          <h4><%= listing.name %></h4>
          <p><%= listing.description %></p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <% if @user %>
          <form action='/listing/edit' style="margin-block-end: 0px">
            <input type='hidden' value='<%= listing.id %>' name='id'>
            <input type='submit' id='edit' value='Edit'>
          </form>
          <% end %>
        </td>
        <td>
          <form action='listing/book' style="margin-block-end: 0px; text-align: center">
            <input type='submit' id='book' value='Book'>
          </form>
        </td>
        <td style="width: 50px">
          <form action='/listing/delete' style="margin-block-end: 0px">
            <input type='submit' id='delete' value='Delete'>
          </form>
        </td>
      </tr>
    </table>
  </div>
<% end %>
</div>

<footer style='width: 75%; text-align: center; margin: 0 auto'>This is some blurb to show the footer region</footer>

<!-- jQuery via Google + local fallback, see h5bp.com -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"></script>')</script>

<!-- Bootstrap jQuery Plugins, compiled and minified -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
