<html>
Welcome to the BEST Beaches and Stream BnB listing!
<form action='/sign_up'>
  <input type='submit' value='Sign Up' name='sign_up'>
</form>
<form action='/' method='post'>
  <% if @username %>
    <input type='submit' value ='Signed in'> :
    <input type='text' name='signedin_user' placeholder='<%= @username %>'>
  <% else %>
    <input type='text' name='username' placeholder='User Name'>
    <input type='submit' value='Sign In' name='sign_in'>
  <% end %>
</form>
</html>
